<div class="card" style="margin-left: 1rem;margin-right: 1rem;">
    <div style="display: block;position: relative;height: 2rem;">
        <div style="text-align: left;display: inline;position: absolute;left: 1rem;color:black;font-size: larger;">{name}</div>
        <div style="text-align: right;display: inline;position: absolute;right: 1rem;color:dimgray;font-size: larger;">{progress}%</div>
    </div>
    <progress value={progress} max=100 style="margin: 1rem;width:90%;"></progress>
    <div style="display:inline-block;position: relative;padding-left: 1rem;color: slategray;font-size: larger;">{info}</div>
</div>